<h1 align="center">Welcome to Angular</h1>
<!--Les variable dans les accolades {var} sont des string interpolation from typescript-->
<h2 >Le formateur est  : {{formateur}}</h2>
<h3 >Le prix est  : {{prix}}</h3>
<h4 >La formation est en mode Hybride?  : {{estHybride}}</h4>
<!--  Pipe "|" de uppercase et prédéfinie-->
<!--  Pipe "|" de topic et définie explicitement dans le projet-->
<ul>
  <li *ngFor="let topic of bootcamp">{{topic|topics|upper}}</li>
</ul>
<span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
fa-twitter on fa-square-o<br>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
</span>
fa-flag on fa-circle<br>
<span class="fa-stack fa-lg">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
</span>
fa-terminal on fa-square<br>
<span class="fa-stack fa-lg">
  <i class="fa fa-camera fa-stack-1x"></i>
  <i class="fa fa-ban fa-stack-2x text-danger"></i>
</span>
fa-ban on fa-camera

<app-home></app-home>
